@model MediLab.Models.Articulo


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>


    <div class="container">
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()



            <div class="form-horizontal">
                <h4>Articulo</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Tópico</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Topico.Nombre, new { htmlAttributes = new { @class = "form-control", @id = "buscador" } })
                        @Html.ValidationMessageFor(model => model.IdTopico, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Comentarios, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Comentarios, 15, 50, htmlAttributes: new { @class = "form-control", style = "width: 100%; max-width: 100%;" })
                        @Html.ValidationMessageFor(model => model.Comentarios, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.IdTopico)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div>
        <a href='@Url.Action("Index", "Articulo")'>
            <img src="https://cdn.icon-icons.com/icons2/217/PNG/512/checklist_25365.png" data-toggle="tooltip" data-placement="top" title="Volver al listado" width="30" height="30" />
        </a>
    </div>
</body>
</html>
@section scripts {
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $("#buscador").autocomplete(
           {
               minLength: 3, //Empieza a buscar a partir de los 3 caracteres ingresados
               focus: function (event, ui) {
                   event.preventDefault(); //Con esta llamada evito que se cargue con el value del autocomplete
                   $("#buscador").val(ui.item.label);

               },
               select: function (event, ui) { //Cuando finaliza configuro los valores del campo oculto
                   event.preventDefault();
                   $("#buscador").val(ui.item.label);
                   $("#IdTopico").val(ui.item.value);
               },
               source: function (request, response) {

                   $.ajax({
                       url: '/Topico/BuscarTopico',
                       type: 'POST',
                       data: { term: $("#buscador").val() },
                       cache: false,
                       dataType: 'json',
                       success: function (json) {
                           response($.map(json, function (data) {
                               return {
                                   label: data.value,
                                   value: data.Id
                               };
                           }));
                       },
                   })

               }
           }
        );
    </script>
}
