@model MediLab.Models.Articulo


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <style>
        .borderClass {
            border: 2px solid red;
            border-radius: 4px;
        }
    </style>

    <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
    <!--<script src="http://tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script type="application/x-javascript">

        tinymce.init({selector:'#Comentarios'});

    </script>-->
    <script type="text/javascript">
//<![CDATA[
  bkLib.onDomLoaded(function() {
        new nicEditor().panelInstance('misComentarios');
  });
      </script>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Articulo</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div id="error">
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                        <span id="counterTitulo" style="color:#FF6601;"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Tópico</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Topico.Nombre, new { htmlAttributes = new { @class = "form-control", @id = "buscador", @maxlength = "30", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.IdTopico, "", new { @class = "text-danger" })
                        <span id="counterTopico" style="color:#FF6601;"></span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Comentarios, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Comentarios, 15, 50, htmlAttributes: new { @class = "form-control", style = "width: 100%; max-width: 100%;", @maxlength = "8000",@id="misComentarios" })
                        @Html.ValidationMessageFor(model => model.Comentarios, "", new { @class = "text-danger" })
                        <span id="counter" style="color:#FF6601;"></span>
                    </div>
                </div>
                @Html.HiddenFor(model => model.IdTopico)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar Cambios" onclick="return validatefields();" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div>
        <a href='@Url.Action("Index", "Articulo")'>
            <img src="https://cdn.icon-icons.com/icons2/217/PNG/512/checklist_25365.png" data-toggle="tooltip" data-placement="top" title="Volver al listado" width="30" height="30" />
        </a>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    function validatefields() {

        $("#error").removeClass('alert alert-danger');
        $("#Titulo").removeClass('borderClass');
        $("#buscador").removeClass('borderClass');
        $("#Comentarios").removeClass('borderClass');
        $("#error").html("");
        var error_signal = 0
        var msg = "";
        var field = "";
        var valor = $.trim($("#Titulo").val());
        if (valor.length == 0) {
            error_signal = 1;
            msg = "Complete campo <b>Título</b>";
            field = "#Titulo";
        }
        else {
            valor = $.trim($("#buscador").val());
            if (valor.length == 0) {
                error_signal = 1;
                msg = "Complete campo <b>Tópico</b>";
                field = "#buscador";
            }
            else {
                valor = $("#IdTopico").val();
                if (valor == 0) {
                    error_signal = 1;
                    msg = "El tópico indicado no existe";
                    field = "#buscador";
                }
                else {
                    valor = $.trim($("#Comentarios").val());
                    if (valor.length == 0) {
                        error_signal = 1;
                        msg = "Complete Comentarios";
                        field = "#Comentarios";
                    }
                }
            }
        }

        if (error_signal == 1) {
            $("#error").addClass("alert alert-danger");
            $("#error").html("<strong>Atención!</strong> " + msg);
            $(field).addClass('borderClass');
            return false;
        }
        return true;
    }

</script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });


    $('#Titulo').blur(function () {
        var valor = $('#Titulo').val()
        $('#Titulo').val(valor.charAt(0).toUpperCase() + valor.substr(1).toLowerCase());
    });

    $('#buscador').blur(function () {
        var valor = $('#buscador').val()
        $('#buscador').val(valor.charAt(0).toUpperCase() + valor.substr(1).toLowerCase());
    });


    $("#Titulo").keyup(function () {
        $("#counterTitulo").text("Caracteres restantes: " + (50 - $(this).val().length));
    });

    $("#buscador").keyup(function () {
        $("#counterTopico").text("Caracteres restantes: " + (30 - $(this).val().length));
    });


    $("#Comentarios").keyup(function () {
        $("#counter").text("Caracteres restantes: " + (8000 - $(this).val().length));
    });

    $("#buscador").autocomplete(
       {
           minLength: 3, //Empieza a buscar a partir de los 3 caracteres ingresados
           focus: function (event, ui) {
               event.preventDefault(); //Con esta llamada evito que se cargue con el value del autocomplete
               $("#buscador").val(ui.item.label);

           },
           select: function (event, ui) { //Cuando finaliza configuro los valores del campo oculto
               event.preventDefault();
               $("#buscador").val(ui.item.label);
               $("#IdTopico").val(ui.item.value);
           },
           source: function (request, response) {

               $.ajax({
                   url: '/Topico/BuscarTopico',
                   type: 'POST',
                   data: { term: $("#buscador").val() },
                   cache: false,
                   dataType: 'json',
                   success: function (json) {
                       if (json.length > 0) {
                           response($.map(json, function (data) {
                               return {
                                   label: data.value,
                                   value: data.Id
                               };
                           }));
                       }
                       else { $("#IdTopico").val(0); } //Si no lo encuentra limpia el campo oculto del tópico

                   },
               })

           }
       }
    );
</script>

