@model IEnumerable<MediLab.Models.Imagen>
   

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Carrousel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height:100%;
           
        }

        .carousel-inner > .item > img {
  object-fit: scale-down;
  height: 50vh;
  width: 100%;
}


    </style>

    </head>
<body>
    <div class="container py-4">
        <h3 class="text-center text-uppercase">Imagenes</h3>      
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                @{int i = 0;}
                @foreach (var item in Model)
                {
                    i++;
                    var active = i == 1 ? "active" : "";
                    <div class="carousel-item @active">
                        <img src="@Url.Content(@item.Path)" width="500" height="500" alt="">
                       <!--<div class="carousel-caption">
                            <h3>@item.Titulo</h3>
                            <p>@item.Comentarios</p>
                        </div>-->   
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        </div>
</body>
</html>
