@model MediLab.Models.Imagen

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <style>

    .btn-file {
    position: relative;
    overflow: hidden;
    }
    .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    }
      </style>
</head>
<body>
    @using (Html.BeginForm("Create","Imagen", FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Imagen</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })        
    
            <div class="form-group">
                @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Articulo</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Articulo.Titulo, new { htmlAttributes = new { @class = "form-control", @id = "buscador" } })
                    @Html.ValidationMessageFor(model => model.Articulo.Titulo, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Comentarios, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Comentarios, 5, 5, htmlAttributes: new { @class = "form-control", style = "width: 40%; max-width: 40%;" })
                    @Html.ValidationMessageFor(model => model.Comentarios, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Imagen</label>
                <div class="col-md-10">
                    <span class="btn btn-primary btn-file">
                       Cargar <input type="file" name="file" id="file" accept="image/*" />
                    </span>
                 </div>
            </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Path, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Path, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Path, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.IdArticulo)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                    </div>
                </div>
            </div>
    }
    
    <div>
        <a href='@Url.Action("Index", "Imagen")'>
            <img src="https://cdn.icon-icons.com/icons2/217/PNG/512/checklist_25365.png" data-toggle="tooltip" data-placement="top" title="Volver al listado" width="30" height="30" />
        </a>
    </div>
</body>
</html>
@section scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $("#buscador").autocomplete(
            {
                minLength: 3, //Empieza a buscar a partir de los 3 caracteres ingresados
                focus: function (event, ui) {
                    event.preventDefault(); //Con esta llamada evito que se cargue con el value del autocomplete
                    $("#buscador").val(ui.item.label);

                },
                select: function (event, ui) { //Cuando finaliza configuro los valores del campo oculto
                    event.preventDefault();
                    $("#buscador").val(ui.item.label);
                    $("#IdArticulo").val(ui.item.value);
                },
                source: function (request, response) {

                    $.ajax({
                        url: '/Articulo/BuscarArticulo',
                        type: 'POST',
                        data: { term: $("#buscador").val() },
                        cache: false,
                        dataType: 'json',
                        success: function (json) {
                            response($.map(json, function (data) {
                                return {
                                    label: data.value,
                                    value: data.Id
                                };
                            }));
                        },
                    })

                }
            }
         );
        });
    </script>
}
