@model MediLab.Models.Imagen


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
  
    <table style="text-align:center;width:100%">
        <tr>
            <td>
                <img src="https://cdn.icon-icons.com/icons2/20/PNG/256/process_thealert_2342.png" width="100" height="100" />
            </td>
        </tr>
        <tr>
            <td><h3>Confirma eliminar este item?</h3></td>
        </tr>
    </table>
    <div>        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Comentarios)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Comentarios)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Path)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Path)
            </dd>  
           
    
            <dt>
                @Html.DisplayNameFor(model => model.Articulo.Titulo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Articulo.Titulo)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-danger" /> |
                <a href="@Url.Action("Index", "Imagen")" class="btn btn-success" role="button">Descartar</a>                
            </div>
        }
    </div>
</body>
</html>
