@model IEnumerable<MediLab.Models.Imagen>
@using MediLab.Controllers.MyClasses;


<head>
    <title>Galerìa de Imágenes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .modal-dialog {
                 position: initial;
}
    </style>
</head>

<p>
    <a href='@Url.Action("Create", "Imagen")'>
        <img src="https://cdn.icon-icons.com/icons2/1146/PNG/512/1486485557-add-create-new-more-plus_81188.png" data-toggle="tooltip" data-placement="right" title="Crear nueva imagen" width="30" height="30" />
    </a>
</p>

<!--Comienzo del nuevo codigo-->
<div class="container">
    <div class="row">
        @{
            if (ViewBag.Operacion != null)
            {
                ResultSet dato = (ResultSet)ViewBag.Operacion;
                if (dato.Code.Equals(1))
                {
                    <div class="alert alert-success">
                        <strong>Operación Exitosa!</strong> @dato.Msg
                    </div>
                }
            }
        }
        @foreach (var item in Model)
        {

            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="@Url.Content(item.Path)" style="height:200px;" />
                    <div class="caption">
                        <dl>
                            <dt>Artículo: </dt>
                            <dd>-@Html.DisplayFor(modelItem => item.Articulo.Titulo)</dd>
                            <dt>Imagen: </dt>
                            <dd>-@Html.DisplayFor(modelItem => item.Titulo)</dd>
                        </dl>

                        <table align="center">
                            <tr>

                                <td>
                                    <a href='@Url.Action("Edit", "Imagen",new { id=item.Id })'>
                                        <img src="https://cdn.icon-icons.com/icons2/402/PNG/512/edit-validated_40458.png" data-toggle="tooltip" data-placement="top" title="Editar" width="20" height="20" />
                                    </a>

                                </td>
                                <td>&nbsp;</td>
                                <td>

                                    <a href='@Url.Action("Delete", "Imagen",new { id=item.Id })' title='@item.Titulo' onclick="return confirmDelete(this);">                                      
                                         <img src="https://cdn.icon-icons.com/icons2/1154/PNG/512/1486564399-close_81512.png" data-toggle="tooltip" data-placement="top" title="Borrar" width="20" height="20" />
                                     </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        }
    </div>
    @for (int i = 1; i <= ViewBag.dbCount; i++)
            {
        <ul class="pagination">
            <li>@Html.ActionLink(@i.ToString(), "Index", "Imagen", new { page = @i }, null)</li>
        </ul>
    }

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script> 
    
    function confirmDelete(sender) {
    
        if ($(sender).attr("confirmed") == "true") { return true; }

        bootbox.confirm({
            title: "Atención",
            message: "<img src='https://cdn.icon-icons.com/icons2/20/PNG/256/process_thealert_2342.png' height='50' width='50'/>¿Confirma eliminar el item " + sender.title + "?",
            buttons: {
                confirm: {
                    label: 'Aceptar',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Cancelar',
                    className: 'btn-danger'
                }
            },
            callback: function (confirmed) {
                if (confirmed) {
                    $(sender).attr("confirmed", confirmed);
                    sender.click();
                }

            }
        });
        return false;
    }

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
           
        });
</script>
<!--Fin del nuevo codigo-->
