@model MediLab.Models.Topico


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <style>  

        .borderClass {
            border: 2px solid red;
            border-radius: 4px;
        }
       
    </style>


</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Topico</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div id="error">
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-wrench"></i></span>
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @maxlength = "30", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })                       
                    </div>
                    <span id="counterTitulo" style="color:#FF6601;"></span>
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-wrench"></i></span>
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @maxlength = "100", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })                       
                    </div>
                    <span id="counterDescripcion" style="color:#FF6601;"></span>
                 </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar Cambios" onclick="return validatefields();" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        <a href='@Url.Action("Index", "Topico")'>
            <img src="https://cdn.icon-icons.com/icons2/217/PNG/512/checklist_25365.png" data-toggle="tooltip" data-placement="top" title="Volver al listado" width="30" height="30" />
        </a>
    </div>
</body>
</html>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>   
    function validatefields() {
        $("#error").removeClass('alert alert-danger');
        $("#Nombre").removeClass('borderClass');
        $("#Descripcion").removeClass('borderClass');
        $("#error").html("");
        var error_signal = 0
        var msg = "";
        var field = "";
        var valor = $.trim($("#Nombre").val());
        if (valor.length == 0) {
            error_signal = 1;
            msg = "Complete campo <b>Nombre</b>";
            field = "#Nombre";
        }
        else {
                 valor = $.trim($("#Descripcion").val());
                 if (valor.length == 0) {
                     error_signal = 1;
                     msg = "Complete campo <b>Descripción</b>";
                     field = "#Descripcion";
                 }

        }
        if (error_signal == 1) {
            $("#error").addClass("alert alert-danger");
            $("#error").html("<strong>Atención!</strong> " + msg);
            $(field).addClass('borderClass');
            return false;
        }
        return true;
    }
</script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $('#Nombre').blur(function () {        
        var valor = $('#Nombre').val()
        $('#Nombre').val(valor.charAt(0).toUpperCase()+valor.substr(1).toLowerCase());
    });

    $('#Descripcion').blur(function () {
        var valor = $('#Descripcion').val()
        $('#Descripcion').val(valor.charAt(0).toUpperCase() + valor.substr(1).toLowerCase());
    });

    $("#Nombre").keyup(function () {
        $("#counterTitulo").text("Caracteres restantes: " + (30 - $(this).val().length));
    });

    $("#Descripcion").keyup(function () {
        $("#counterDescripcion").text("Caracteres restantes: " + (100 - $(this).val().length));
    });

</script>