@model IEnumerable<MediLab.Models.Topico>
@using MediLab.Controllers.MyClasses;

<!DOCTYPE html>

<html>
<head>  
        <title>Galería de tópicos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <style>
            .modal-dialog {
                position: initial;
            }
        </style>
  
</head>
<body>
    <p>
        <a href='@Url.Action("Create", "Topico")'>
            <img src="https://cdn.icon-icons.com/icons2/1146/PNG/512/1486485557-add-create-new-more-plus_81188.png" data-toggle="tooltip" data-placement="right" title="Crear nuevo tópico" width="30" height="30" /> 
        </a>
       
    </p>
    @{
        if (ViewBag.Operacion != null)
        {
            ResultSet dato = (ResultSet)ViewBag.Operacion;
            if (dato.Code.Equals(1))
            {
             <div class="alert alert-success">
            <strong>Operación Exitosa!</strong> @dato.Msg
            </div>
            }
            else
            {
                if (dato.Code.Equals(-1))
                {
                    <div class="alert alert-danger">
                        <strong>Operación Fallida!</strong> @dato.Msg
                    </div>
                }
            }
        }



    }
    
    <table class="table">
        <tr style="background-color:#D9EDF7">
            <th>

            </th>
            <th>
                Nombre
            </th>
            <th >
               Descripción
            </th>         
            <th>
                 ¿Qué hacer?
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
               <img src="https://cdn.icon-icons.com/icons2/564/PNG/512/Idea_icon-icons.com_54173.png" width="30" height="30" />              
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>          
            <td>
                <a href='@Url.Action("Edit", "Topico",new { id=item.Id })'>
                    <img src="https://cdn.icon-icons.com/icons2/215/PNG/256/edit-validated256_25237.png" data-toggle="tooltip" data-placement="top" title="Editar" width="20" height="20" />
                </a>             
                &nbsp
                <a href='@Url.Action("Details", "Topico",new { id=item.Id })'>
                    <img src="https://cdn.icon-icons.com/icons2/39/PNG/128/xmag_search_find_export_locate_5984.png" data-toggle="tooltip" data-placement="top" title="Ver" width="20" height="20" />
                </a>
                &nbsp
                <a href='@Url.Action("Delete", "Topico",new { id=item.Id })' title='@item.Nombre' onclick="return confirmDelete(this);">
                    <img src="https://cdn.icon-icons.com/icons2/624/PNG/512/Delete-80_icon-icons.com_57340.png" data-toggle="tooltip" data-placement="top" title="Borrar" width="20" height="20" />
                </a>               
             
            </td>
        </tr>
    }
    
    </table>
    @for (int i = 1; i <= ViewBag.dbCount; i++)
    {
    <ul class="pagination">
        <li>@Html.ActionLink(@i.ToString(), "Index", "Topico", new { page = @i }, null)</li>
    </ul>
    }    
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
    function confirmDelete(sender) {

        if ($(sender).attr("confirmed") == "true") { return true; }

        bootbox.confirm({
            title: "Atención",
            message: "<img src='https://cdn.icon-icons.com/icons2/20/PNG/256/process_thealert_2342.png' height='50' width='50'/> ¿Confirma eliminar el item <b>" + sender.title + "</b>?",
            buttons: {
                confirm: {
                    label: 'Aceptar',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Cancelar',
                    className: 'btn-danger'
                }
            },
            callback: function (confirmed) {
                if (confirmed) {
                    $(sender).attr("confirmed", confirmed);
                    sender.click();
                }

            }
        });
        return false;
    }


    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

    });

</script>

