@model MediLab.Models.Usuario



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Editar Usuario</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div id="error">
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", Type = "password", @autocomplete = "off", oncopy = "return false", onpaste = "return false" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                     </div>
                 </div>
            </div>  
         
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        &nbsp;
                        <span id="counterEmail" style="color:#FF6601;"></span>
                     </div>  
                 </div>
            </div>  
          
            <div class="form-group">
                @Html.LabelFor(model => model.Rol, "Rol", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">          
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-wrench"></i></span>
                        @Html.DropDownList("Rol", ViewBag.Rol as List<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Rol, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Estado, "Estado", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-wrench"></i></span>
                        @Html.DropDownList("Estado", ViewBag.Estado as List<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar Cambios" onclick="return validatefields();" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    }    
    <div>       
        <a href='@Url.Action("Index", "Usuario")'>
            <img src="https://cdn.icon-icons.com/icons2/217/PNG/512/checklist_25365.png" data-toggle="tooltip" data-placement="top" title="Volver al listado" width="30" height="30" />
        </a>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    function validatefields() {
        $("#error").removeClass('alert alert-warning'); 
        $("#error").html("");
        var error_signal = 0
        var msg = "";
        var field = "";


        re = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/;
        valor = $.trim($("#Password").val());
        if (!re.test(valor)) {
            error_signal = 1;
            msg = "El campo <b>Password</b> debe contener al menos un número, una letra minúscula, una letra en mayúscula y al menos 6 caracteres";
            field = "#Password";
        }
        else {

            valor = $.trim($("#Email").val());
            if (valor.length == 0) {
                error_signal = 1;
                msg = "Complete campo <b>Email</b>";
                field = "#Email";

            }
            else {
                valor = $("#Rol option:selected").text();
                if (valor.startsWith("Seleccione")) {
                    error_signal = 1;
                    msg = "Seleccione un <b>Rol</b>";
                    field = "#Rol";
                }
                else {
                    valor = $("#Estado option:selected").text();
                    if (valor.startsWith("Seleccione")) {
                        error_signal = 1;
                        msg = "Seleccione un <b>Estado</b>";
                        field = "#Estado";
                    }

                }

            }
        }
        if (error_signal == 1) {
            $("#error").addClass("alert alert-warning");
            $("#error").attr("role", "alert");
            $("#error").html("<strong>Atención!</strong> " + msg);          
            return false;
        }
        return true;


    }
</script>


<script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
</script>