@model IEnumerable<MediLab.Models.Usuario>
@using MediLab.Controllers.MyClasses;
@using MediLab.Servicios;

@{
    ViewBag.estadoServicio = Servicios.getStatusServiceUsuarios();

}

<!DOCTYPE html>

<html>
<head>
    <title>Usuarios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .modal-dialog {
            position: initial;
        }
    </style>

</head>
<body>
    <p>
        <a href='@Url.Action("Create", "Usuario")'>
            <img src="https://cdn.icon-icons.com/icons2/20/PNG/256/business_application_addmale_useradd_insert_add_user_client_2312.png" data-toggle="tooltip" data-placement="right" title="Crear nuevo usuario" width="30" height="30" />
        </a>
    </p>
    @{
        if (ViewBag.Operacion != null)
        {
            ResultSet dato = (ResultSet)ViewBag.Operacion;
            if (dato.Code.Equals(1))
            {
                <div class="alert alert-success">
                    <strong>Operación Exitosa!</strong> @dato.Msg
                </div>
            }
        }
    }
    <table class="table">
        <tr style="background-color:#337AB7; color:#FFFFFF">
            <th>

            </th>
            <th>
                Nombre
            </th>

            <th>
                Email
            </th>
            <th>
                Rol
            </th>
            <th>
                Estado
            </th>
            <th>
                ¿Qué hacer?
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="https://cdn.icon-icons.com/icons2/39/PNG/128/bootloader_users_person_people_6080.png" width="30" height="30" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol1.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoUsuario.Nombre)
                </td>
                <td>
                    <a href='@Url.Action("Edit", "Usuario",new { id=item.Id })'>
                        <img src="https://cdn.icon-icons.com/icons2/20/PNG/256/businessapplication_edit_male_user_thepencil_theclient_negocio_2321.png" data-toggle="tooltip" data-placement="top" title="Editar" width="20" height="20" />
                    </a>
                    &nbsp
                    <a href='@Url.Action("Details", "Usuario",new { id=item.Id })'>
                        <img src="https://cdn.icon-icons.com/icons2/20/PNG/256/business_man_usersearch_thesearch_theclient_2356.png" data-toggle="tooltip" data-placement="top" title="Ver" width="20" height="20" />
                    </a>
                    &nbsp
                    <a href='@Url.Action("Delete", "Usuario",new { id=item.Id })' title='@item.Username' onclick="return confirmDelete(this);">
                        <img src="https://cdn.icon-icons.com/icons2/20/PNG/256/delete_delete_deleteusers_delete_male_user_maleclient_2348.png" data-toggle="tooltip" data-placement="top" title="Borrar" width="20" height="20" />
                    </a>
                </td>
            </tr>
        }

    </table>
    @for (int i = 1; i <= ViewBag.dbCount; i++)
    {
        <ul class="pagination">
            <li>@Html.ActionLink(@i.ToString(), "Index", "Usuario", new { page = @i }, null)</li>
        </ul>
    }
    <div class="panel-group" id="accordion">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Activar Usuarios
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">

                <div class="panel-body">
                    <h4><span class="label label-default" id="lblEstadoUnlockUsers">@ViewBag.estadoServicio</span></h4>
                    <div class="btn-group">
                        <button type="button" id="btnPrenderServicio" class="btn btn-success">Prender</button>
                        <button type="button" id="btnApagarServicio" class="btn btn-danger">Apagar</button>
                        <button type="button" id="btnConsultaEstado" class="btn btn-warning">Estado</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        Correo
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4><span class="label label-default" id="lblEstadoMailer">Apagado</span></h4>
                    <div class="btn-group">
                        <button type="button" id="btnPrenderMailer" class="btn btn-success">Prender</button>
                        <button type="button" id="btnApagarMailer" class="btn btn-danger">Apagar</button>
                        <button type="button" id="btnEstadoMailer" class="btn btn-warning">Estado</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
    function confirmDelete(sender) {

        if ($(sender).attr("confirmed") == "true") { return true; }

        bootbox.confirm({
            title: "Atención",
            message: "<img src='https://cdn.icon-icons.com/icons2/20/PNG/256/business_man_user_alert_alerttheuser_askthecustomer_negocio_2331.png' height='50' width='50'/> ¿Confirma eliminar el usuario <b>" + sender.title + "</b>?",
            buttons: {
                confirm: {
                    label: 'Aceptar',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Cancelar',
                    className: 'btn-danger'
                }
            },
            callback: function (confirmed) {
                if (confirmed) {
                    $(sender).attr("confirmed", confirmed);
                    sender.click();
                }

            }
        });
        return false;
    }


    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

    });

    $(function () {
        $('#btnConsultaEstado').click(function () {
            $.ajax({
                type: 'GET',
                url: "/Usuario/GetEstadoUnlockUsers",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $('#lblEstadoUnlockUsers').html(response);
                },
                error: function (error) {                   
                    console.log(error);
                }
            });
        });

        $('#btnApagarServicio').click(function () {
            $.ajax({
                type: 'POST',
                url: "/Usuario/StopUnlockUsers",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $('#lblEstadoUnlockUsers').html(response);
                },
                error: function (error) {                 
                    console.log(error);
                }
            });
        });


        $('#btnPrenderServicio').click(function () {
            $.ajax({
                type: 'POST',
                url: "/Usuario/StartUnlockUsers",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $('#lblEstadoUnlockUsers').html(response);
                },
                error: function (error) {                   
                    console.log(error);
                }
            });
        });

        $('#btnEstadoMailer').click(function () {
            $.ajax({
                type: 'GET',
                url: "/Usuario/GetEstadoMailer",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $('#lblEstadoMailer').html(response);
                },
                error: function (error) {                    
                    console.log(error);
                }
            });
        });

        $('#btnApagarMailer').click(function () {
               $.ajax({
                   type: 'POST',
                   url: "/Usuario/StopMailer",
                   dataType: 'json',
                   contentType: 'application/json; charset=utf-8',
                   success: function (response) {
                       $('#lblEstadoMailer').html(response);
                   },
                   error: function (error) {                       
                       console.log(error);
                   }
               });
           });

        $('#btnPrenderMailer').click(function () {
            $.ajax({
                type: 'POST',
                url: "/Usuario/StartMailer",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $('#lblEstadoMailer').html(response);
                },
                error: function (error) {              
                    console.log(error);
                }
            });
        });

    });



</script>


